.tippy-popper .tippy-tooltip.dark-theme {
    background-color: #242424;
    padding: 4px 8px;
    border-radius: 4px;

    .tippy-content {
        letter-spacing: .12px;
        font-size: 12px;
        line-height: 20px;
    }
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.dark-theme .tippy-arrow {
    border-bottom-color: #242424;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.dark-theme .tippy-arrow {
    border-top-color: #242424;
}

/*
    Simple theme
 */
.tippy-popper .tippy-tooltip.simple-theme {
    background-color: unset;
    padding: 0;
    border-radius: 0;
    text-align: left;
    font-size: inherit;
    line-height: normal;
    color: #000;

    .tippy-arrow {
        top: -8px;
    }
}

.tippy-popper[x-placement^=bottom] .tippy-arrow {
    border-bottom-color: #fff;
}

/*
    Dropdown menu
 */
.dropdown-menu {
    box-shadow: 0 0 24px rgba(0,0,0,.4);
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;

    li {
        cursor: pointer;
        padding: 8px 12px;
        font-size: 12px;
        font-weight: 500;

        a {
            display: block;
        }

        &:hover {
            background-color: #ffecb3;
        }
    }
}
